# 1. Файлы сборки, логи и временные файлы
# -------------------------------------------------------------------
# Папки с результатами компиляции и сборки проекта.
/out/
/build/
/target/

# Скомпилированные Java-классы.
*.class

# Лог-файлы, которые могут создаваться во время работы приложения.
*.log
*.tmp
*.temp


# 2. Файлы IDE и настройки рабочего пространства
*.iml

# Папка с личными настройками IDE: история, открытые вкладки, кэш.
.idea/


# Отложенные изменения (Shelve) и история HTTP-клиента.
/shelf/
/httpRequests/


# 3. Конфиденциальные данные и безопасность
/dataSources/
/dataSources.local.xml


# 4. Файлы операционной системы
# -------------------------------------------------------------------
# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini